%header
  %h2 Today
%article#conditionsContainer
  %article#location For <%= city %>
  %section#conditionsMain
    %img{:src => "icons/<%= icon %>.gif"}
      %h3#currentTemp <%= temp %> K
      %span (<%= temp_c %>° C)
  %section#conditionsDetails
    %article
      %p Feels Like
      %p <%= feelslike %>° C
    %article
      %p Humidity
      %p <%= humidity %>
    %article
      %p UV Index
      %p <%=  UV %>
    %article.hidden
      %p Visibility
      %p <%= visibility %>km
    %article
      %p Precipitation
      %p <%= precip %>mm
    %article.hidden
      %p Windchill
      %p <%= windchill %>mm
  %p#conditionsTime <%= time %>s